# Server Config
PORT=3001
DATABASE_PATH=./data/expense.db
NODE_ENV=development
CORS_ORIGIN=*

# Loginradius configuration
LR_ISSUER=https://dev-mohammed.devhub.lrinternal.com/service/oidc/expense-2
LR_INTROSPECT_URL=https://dev-mohammed.devhub.lrinternal.com/api/oidc/expense-2/introspect
LR_JWKS_URI=https://dev-mohammed.devhub.lrinternal.com/service/oidc/expense-2/jwks
LR_CLIENT_ID=
LR_CLIENT_SECRET=
LR_TOKEN_ENDPOINT_AUTH_METHOD=client_secret_basic

# MCP Server Configuration
MCP_SERVER_URL=http://localhost:3001/
SERVER_URL=http://localhost:3001
MCP_RESOURCE_URL=http://localhost:3001/mcp
PROTECTED_RESOURCE_METADATA="{"authorization_servers":["https://dev-mohammed.devhub.lrinternal.com/service/oidc/expense-2"],"bearer_methods_supported":["header"],"resource":"http://localhost:3001/mcp","resource_documentation":"http://localhost:3001/docs","scopes_supported":["mcp:tools", "openid", "email", "mcp:tools", "expense:submit", "expense:view:own", "expense:view:team", "expense:view:all", "expense:approve", "expense:report:generate"]}"